$colorBackground1: rgba(#0d1922, 1);
$colorBackground2: rgba(#0f2633, 0.95);

$colorFont1: rgba(#e5e5e5, 1);
$colorFont2: rgba(#9e579d, 1);
$colorFont3: rgba(#c367c2, 1);

$colorButton: rgba(#c367c2, 1);

$colorTile1: rgba(#303a52, 1);
$colorTile2: rgba(#574b90, 0.7);
$colorTile3: rgba(#fff, 1);
